[submodule "API_Gateway"]
	path = API_Gateway
	url = https://github.com/mohdayaan786/Airline_Management_System.git
[submodule "AuthService"]
	path = AuthService
	url = https://github.com/mohdayaan786/Airline_Management_System.git
[submodule "BookingService"]
	path = BookingService
	url = https://github.com/mohdayaan786/Airline_Management_System.git
[submodule "FlightsAndSearch"]
	path = FlightsAndSearch
	url = https://github.com/mohdayaan786/Airline_Management_System.git
[submodule "RemainderService"]
	path = RemainderService
	url = https://github.com/mohdayaan786/Airline_Management_System.git
